@font-face {
  font-family: "Montserrat";
  src: url("/public/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("/public/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("/public/fonts/Montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("/public/fonts/Montserrat/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("/public/fonts/Work_Sans/WorkSans-Medium.woff2") format("woff2"),
    url("/public/fonts/Work_Sans/WorkSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("/public/fonts/Work_Sans/WorkSans-Regular.woff2") format("woff2"),
    url("/public/fonts/Work_Sans/WorkSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("/public/fonts/Work_Sans/WorkSans-SemiBold.woff2") format("woff2"),
    url("/public/fonts/Work_Sans/WorkSans-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Work Sans";
  src: url("/public/fonts/Work_Sans/WorkSans-Bold.woff2") format("woff2"),
    url("/public/fonts/Work_Sans/WorkSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
