@font-face {
  font-family: "Montserrat";
  src: url("//public/fonts/Montserrat/Montserrat-VariableFont_wght");
}

@font-face {
  font-family: "Work Sans";
  src: url("//public/fonts/Work_Sans/WorkSans-VariableFont_wght");
}
